### Build settings

IMAGE_TAG=1.0.1

STEAM_USER=anonymous
STEAM_PASSWORD=


### Server Settings

#SERVER_NAME=CS 1.6 Server
#SERVER_PASSWORD=
#START_MAP=de_dust2
#MAXPLAYERS=32


### AMX Admin Users

#ADMIN_STEAM=STEAM_0:1:1234566

#ADMIN_IP=127.0.0.1,192.168.0.1

#ADMIN_NAME=playername1,playername2
#ADMIN_PASSWORD=


### YaPB Bots

YAPB_ENABLED=0
YAPB_PASSWORD=
